.mainDiv {
  display: flex;
  width: 100%;
}

/* -------------- (vertical line) -------- */
.vl {
  border-left: 1px solid rgba(186, 184, 184, 0.753);
  height: 650px;
  width: 0%;
  margin-left: 10px;
}
/* ---------- (left side )--------*/

.leftSide {
  text-align: center;
  /* background: #000; */
  padding: 0px;
  margin-right: 25px;
}

.leftSide > h2 {
  width: 110px;
  text-align: center;
  font-size: 19px;
  color: grey;
  font-weight: 400;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0px;
}

.leftSide > img {
  width: 200px;
  border-radius: 100px;
  margin-top: 25px;
  margin-top: 0px;
}
.leftSide > p {
  width: 300px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: rgb(66, 65, 65);
  margin-top: 5px;
}

.company,
.userName {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0px;
  margin-bottom: 20px;
}

.company > div > h2,
.userName > div > h2 {
  width: 110px;
  text-align: right;
  font-size: 19px;
  color: grey;
  font-weight: 400;
  margin: 0px;
  margin-top: 20px;
}

.company > div > h3,
.userName > div > h3 {
  text-align: left;
  font-size: 19px;
  font-weight: 600;
  color: rgb(66, 65, 65);
  width: 210px;
  margin: 0px;
  margin-top: 20px;
}

.company > div > h3 {
  width: 230px;
}

.leftSide > hr {
  width: 300px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: rgb(66, 65, 65);
  margin-top: 5px;
}

/* -------------- (right side)---------- */
.rightSide {
  /* background: #000; */
  width: 100%;
  text-align: left;
  padding-left: 80px;
}

.rightSide > h2 {
  font-size: 20px;
  font-weight: 600;
  color: grey;
  margin-top: 5px;
  font-weight: 400;
}

.address {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0px;
  margin-bottom: 30px;
}

.address > div > h2 {
  width: 110px;
  text-align: right;
  font-size: 19px;
  color: grey;
  font-weight: 400;
  margin: 0px;
  margin-top: 20px;
}

.address > div > h3 {
  text-align: left;
  font-size: 19px;
  font-weight: 600;
  color: rgb(66, 65, 65);
  width: 210px;
  margin: 0px;
  margin-top: 20px;
}

/* ---------- (map)------ */
.Map {
  border-radius: 20px;
}

.geo {
  display: flex;
  gap: 30px;
  justify-content: right;
  padding-right: 5px;
  margin-top: 10px;
}

.geo > p {
  font-size: 15px;
  font-weight: 600;
  color: grey;
  margin-top: 5px;
  font-weight: 400;
}

.geo > p > span {
  font-size: 15px;
  font-weight: 600;
  color: rgb(66, 65, 65);
  margin-top: 5px;
}
