.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: adobe-clean, sans-serif;
}

a{
  text-decoration: none;
  color: white;
}

 /* -------- Scroll ------- */
::-webkit-scrollbar {
  width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
  background:rgb(216, 214, 214);
  border-radius: 30px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(151, 150, 150);
  width: 8px;
  border-radius: 30px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(92, 92, 92);
}
